/* Poppins font link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Body style */
body{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}
/* Header Style here */
header{
    background: #161616;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    color: #fff;
    width: 90%;
    max-width: 2000px;
    margin: 15px auto;
    padding: 33px 80px 0px 80px;
    height: 605px;
}
.contant{
    width: 530px;
    padding: 110px 0;
}
.contant h1{
    font-size: 70px;
    font-weight: 700;
    margin: 0;
    line-height: 80px;
}
.contant p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.header-btn button{
    color: #fff;
    background: #d00;
    padding: 16px 25px;
    font-size: 20px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
}
.headerIMG img{
    height: 613px;
}
/* headir section end here */
.navbar{
    background: #000;
    display: flex;
    flex-direction: column;
    width: 312px;
    height: 312px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 10px;
}
.navlink input{
    width: 250px;
    background: #fff;
    color: #161616;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    padding: 17px 40px;
    font-weight: 600;
}
.differen-navlink input{
    width: 250px;
    background: #d00;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    padding: 17px 40px;
    font-weight: 600;
    color: #fff;
}
/* Main section style */
main{
    display: flex;
    gap: 24px;
    margin: 130px auto;
    width: 100%;
    max-width: 2000px;
}
/* Blogs Style start from here */
.blogs-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: 90%;
    max-width: 2000px;
    margin: auto;
}
.blogs{
    width: 312px;
    border: 1px solid #e8e8e8;
    box-shadow: 1px 1px 1px #e8e8e8;
    border-radius: 10px;
}
.blogsContant{
    margin: 20px;
}
.transfer{
    border: 1px solid #161616;
    border-radius: 5px;
    width: 100px;
    padding: 4px 16px;
    text-align: center;
}
.blogsContant h3{
    font-size: 18px;
    font-weight: 600;
    color: #161616;
}
.blogs-footer{
    display: flex;
    gap: 30px;
}
.blogs-footer p{
    display: inline-block;
    margin: 0px 4px;
}
/* Footter section style */
footer{
    width: 100%;
    max-width: 2000px;
    background: #000;
    color: #fff;
    text-align: center;
    padding: 130px 0px;
    margin: auto;
}
footer h2{
    font-size: 40px;
    font-weight: 600;
}
footer a{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    margin-right: 50px;
}
/* Media Queries for mobile view*/
@media screen and (max-width: 687px) {
   header{
    flex-direction: column;
    height: 100%;
    padding: 33px 0px 0px;
    margin: 10px auto;
    gap: 20px;
    width: 80%;
   }
   .contant{
    width: 230px;
    text-align: center;
    padding: 0;
   }
   .contant h1{
    font-size: 22px;
    line-height: normal;
    text-align: center;
    margin: 28px 53px 0px;
    width: 230px;
    margin: auto;
   }
   .contant p{
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    height: 50px;
    width: 100%;
    margin: auto;
    margin: 8px 0px 20px;
    color: rgba(255, 255, 255, 0.80);;
   }
   .contant p:hover{
    overflow:auto;
   }
   .headerIMG img{
    height: 245px;
    text-align: center;
   }
   .header-btn button{
    width: 161px;
    height: 40px;
    font-size: 20px;
    font-weight: 400;
    padding: 8px 12px;
   }
   /* Main section */
   main{
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
   }
   .navbar{
    background: #fff;
    gap: 16px;
    justify-items: center;
    height: 170px;
    width: 180px;
   }
   .navlink input{
    width: auto;
    max-width: 210px;
    padding: 9px 25px;
    border: 1px solid #E8E8E8;
   }
   .differen-navlink input{
    width: auto;
    max-width: 210px;
    border: 1px solid #E8E8E8;
    padding: 9px 53px;
   }
   .blogs-container{
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
   }
   /* Footer */
   footer{
    padding: 24px 0px;
    width: 100%;
   }
   footer a{
    margin: 0;
   }
   .footerContant{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
   }
}