.upcomingMatch{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: 80%;
}
.match{
    width: 312px;
    border: 1px solid #E8E8E8;
    text-align: center;
    padding: 40px 0px;
    border-radius: 10px;
}
.flag{
    display: flex;
    justify-content: center;
    gap: 23px;
    align-items: center;
}
.match h4{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #161616;
}
.match p{
    margin: 0px;
}
@media screen and (max-width: 687px) {
    main{
        flex-direction: column;
        align-items: center;
        margin: 20px 0px;
       }
       .navbar{
        background: #fff;
        gap: 16px;
        justify-items: center;
        height: 170px;
        width: 180px;
       }
       .navlink input{
        width: auto;
        max-width: 210px;
        padding: 9px 25px;
        border: 1px solid #E8E8E8;
       }
       .differen-navlink input{
        width: auto;
        max-width: 210px;
        border: 1px solid #E8E8E8;
        padding: 9px 53px;
       }
       .upcomingMatch{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
       } 
}
@media screen and (min-width: 688px) and (max-width:992px) {
    main{
        flex-direction: column;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .navbar{
        flex-direction: row;
        background: none;
        width: auto;
        height: auto;
        gap: 10px;
    }
    .navlink input{
        width: 230px;
        height: 65px;
        border: 1px solid #E8E8E8;
    }
    .differen-navlink input{
        width: 230px;
        height: 65px;
        border: 1px solid #E8E8E8;
    }
    .upcomingMatch{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        margin: auto;
}
}